* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #10202efc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Josefin Slab", serif;
  /* make img not selectable  */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.one,
.two {
  width: 70px;
  text-align: center;
}

.folders {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}


