body {
  height: 100vh;
  background-color: #10202efc;
  color: white;
  overflow: hidden;
  padding: 0 20px;
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 1.5em;
  width: 400px;
}

.photo {
  width: 150px;
}

@media screen and (max-width: 320px) {
  p {
    width: 320px;
  }
}
