* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #10202efc;
  color: white;
  overflow: hidden;
  padding: 0 10px;
  margin: 10px;
  font-family: "Josefin Slab", serif;
  font-size: 0.9rem;
}

a {
  color: white;
  text-decoration: none;
}

.top-bar {
  width: 325px;
}

p {
  line-height: 1.5em;
  width: 325px;
}

.photo {
  width: 150px;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1.5em;
  }
}