* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #10202efc;
  color: white;
  overflow: auto;
  padding: 0 10px;
  margin: 10px;
  font-family: "Josefin Slab", serif;
  font-size: 1.3rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.top-bar {
  width: 325px;
  padding-top: 10px;
}
.date {
  padding-left: 10px;
}
p {
  line-height: 1.5em;
  width: 325px;
}

.photo {
  width: 150px;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1.3em;
  }
}